# Misc
.vscode/launch.json
.vscode/settings.json
.vscode
tmp

# Large word embedding file
data/word_embedding/glove/glove*

# Large KG dataset

# Large QA dataset

# Other large dataset
data/classification/toxic_comments/data.csv
data/classification/toxic_comments/cache

# Py-cache
*__pycache__
